PROKERALA_CLIENT_ID=여기에_Client_ID_입력
PROKERALA_CLIENT_SECRET=여기에_Client_Secret_입력
PROKERALA_BASE_URL=https://api.prokerala.com
PROKERALA_TOKEN_URL=https://api.prokerala.com/token
USE_FIXTURE_IN_DEBUG=true
